## Introduccion a Pandas

In [2]:
import pandas as pd

## Series

In [2]:
serie = pd.Series([10,20,10])
serie

0    10
1    20
2    10
dtype: int64

In [3]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'
serie2 = pd.Series(["rojo", "verde", "azul"])
serie2

0     rojo
1    verde
2     azul
dtype: object

In [4]:
df = pd.DataFrame()

In [5]:
df

Empty DataFrame
Columns: []
Index: []

In [6]:
# Crea una nueva columna en el dataframe, y asignale la primera 
#serie que has creado
df["numeros"] = serie
df

   numeros
0       10
1       20
2       10

In [7]:
# Crea otra columna en el dataframe y asignale la segunda Serie 
#que has creado
df["colores"] = serie2
df

   numeros colores
0       10    rojo
1       20   verde
2       10    azul

## DataFrame

In [8]:
#forma 2 ](por columnas)
alumnos = pd.DataFrame({"nombre": ["Rick", "Morty"],"apellido": ["Sanchez", "Smith"],"edad": [60, 14]})
alumnos
#tambien lo podemos guardar primero como diccionario y despues meterlo a dataframe

  nombre apellido  edad
0   Rick  Sanchez    60
1  Morty    Smith    14

In [9]:
#Forma 3 (por filas)
alumnos= pd.DataFrame([["Rick", "Sanchez", 60],["Morty", "Smith", 14]], columns = ["nombre", "apellido", "edad"])
alumnos

  nombre apellido  edad
0   Rick  Sanchez    60
1  Morty    Smith    14

## Cargar archivos

In [28]:
#Cargar archivos desde una ruta tengamos cuidado aqui ya que tenemos que poner la diagonal normal y no la invertida
%time
df=pd.read_excel("C:/Users/BernalA/Documents/Alexis 2/Actos.xlsx")

Wall time: 0 ns

In [3]:
%%time
#este es un libro de excel normal el tiempo de cargado es mayor
df = pd.read_excel('Cremadores.xlsx')

Wall time: 19.4 s

In [3]:
%%time
#Este es un archivo csv, el cual tarde menos en cargar
df = pd.read_csv('Cremadores.csv')

Wall time: 550 ms

In [10]:
#Cuando un archivo no tiene titulos lo que hacemos es esto
df=pd.read_csv('Cremadores.csv', header = None )

In [4]:
df

,IdAto,ano,data_compra,mes,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,...,NSE_BDD,ClasEdac,Peso,FACTOR_RW,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW
0,270351947,2017,09/01/2017 00:00,1,52,4171,1,1,272,149347,...,4,2,4802,MTEw,34,110,163,179.59480,33.614000,36.975400
1,270351716,2017,05/01/2017 00:00,1,74,0,0,1,272,149347,...,4,3,2337,MTAw,34,100,79,79.45800,0.000000,0.000000
2,270351756,2017,06/01/2017 00:00,1,74,0,0,0,272,149347,...,4,3,2337,MTEw,34,110,79,87.40380,13.837377,15.221115
3,270352833,2017,28/01/2017 00:00,1,124,0,0,1,272,81129,...,4,3,3027,MTAw,300,100,908,908.10000,90.810000,90.810000
4,270352944,2017,30/01/2017 00:00,1,350,4108,1,1,272,301936,...,5,3,2127,ODM=,330,83,701,582.58530,31.905000,26.481150
5,270352710,2017,25/01/2017 00:00,1,354,0,0,1,272,203781,...,4,3,2906,ODA=,210,80,610,488.20800,66.838000,53.470400
6,270352958,2017,30/01/2017 00:00,1,356,4108,1,1,272,149347,...,4,2,3787,MTEw,34,110,128,141.63380,26.509000,29.159900
7,270352252,2017,15/01/2017 00:00,1,369,4178,1,1,272,69558,...,4,3,2906,MTAw,1000,100,2906,2906.00000,217.950000,217.950000
8,270352885,2017,29/01/2017 00:00,1,408,4016,1,1,272,203781,...,4,3,3944,MTAw,210,100,828,828.24000,0.000000,0.000000
9,270353017,2017,31/01/2017 00:00,1,510,0,0,1,272,203781,...,2,3,1498,NTA=,210,50,314,157.29000,22.470000,11.235000
10,270352365,2017,18/01/2017 00:00,1,512,4159,1,1,272,149347,...,3,3,9574,MTEw,34,110,325,358.06760,47.870000,52.657000
11,270352217,2017,15/01/2017 00:00,1,588,4170,1,1,272,149347,...,2,3,8860,MTEw,34,110,301,331.36400,52.460060,57.706066
12,270351554,2017,02/01/2017 00:00,1,601,4010,1,1,272,137071,...,1,3,1565,MTAw,500,100,782,782.50000,38.342500,38.342500
13,270351740,2017,06/01/2017 00:00,1,727,4101,1,1,272,127513,...,1,3,2084,ODM=,1000,83,2084,1729.72000,104.200000,86.486000
14,270351903,2017,09/01/2017 00:00,1,769,4011,1,1,272,149347,...,4,2,3876,MTEw,34,110,131,144.96240,25.194000,27.713400
15,270351828,2017,08/01/2017 00:00,1,811,4108,1,1,272,119559,...,4,2,2937,MTEw,623,110,1829,2012.72610,140.976000,155.073600
16,270352083,2017,12/01/2017 00:00,1,823,0,0,1,272,222812,...,2,2,2286,MTAw,930,100,2125,2125.98000,148.590000,148.590000
17,270352375,2017,18/01/2017 00:00,1,823,0,0,0,272,210162,...,2,2,2286,MTAw,160,100,365,365.76000,45.720000,45.720000
18,270352685,2017,24/01/2017 00:00,1,937,0,0,1,272,203779,...,5,3,2136,MTAw,400,100,854,854.40000,89.498400,89.498400
19,270352303,2017,17/01/2017 00:00,1,939,21086,1,1,272,69558,...,4,2,4619,MTAw,1000,100,4619,4619.00000,277.140000,277.140000
20,270351547,2017,02/01/2017 00:00,1,942,4133,1,1,272,210162,...,4,2,2281,ODM=,160,83,364,302.91680,52.234900,43.354967
21,270352066,2017,12/01/2017 00:00,1,989,4101,1,1,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,15.210000,16.731000
22,270352377,2017,18/01/2017 00:00,1,989,4101,1,0,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,15.210000,16.731000
23,270352533,2017,22/01/2017 00:00,1,989,4101,1,0,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,15.210000,16.731000
24,270351879,2017,08/01/2017 00:00,1,989,4101,1,0,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,15.210000,16.731000
25,270352805,2017,27/01/2017 00:00,1,989,4101,1,0,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,15.210000,16.731000
26,270352739,2017,26/01/2017 00:00,1,989,4101,1,0,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,15.210000,16.731000
27,270352159,2017,14/01/2017 00:00,1,1015,4133,1,1,272,149026,...,4,3,3546,MTAw,420,100,1489,1489.32000,134.748000,134.748000
28,270352466,2017,20/01/2017 00:00,1,1187,4108,1,1,272,203781,...,5,2,1840,ODA=,210,80,386,309.12000,46.000000,36.800000
29,270352058,2017,12/01/2017 00:00,1,1196,4156,1,1,272,69558,...,4,3,2243,MTEw,1000,110,2243,2467.30000,123.365000,135.701500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38281,302625797,2019,20/09/2019 00:00,9,130772,21082,1,1,272,99282,...,3,2,1269,MTAw,1000,100,1269,1269.00000,136.696680,136.696680
38282,302625451,2019,08/09/2019 00:00,9,130792,4171,1,1,272,69558,...,2,1,2753,MTAw,1000,100,2753,2753.00000,178.945000,178.945000
38283,302625067,2019,28/08/2019 00:00,9,130792,4171,1,0,272,69558,...,2,1,2753,MTAw,1000,100,2753,2753.00000,178.945000,178.945000
38284,302625588,2019,13/09/2019 00:00,9,130838,21128,1,1,272,227424,...,3,1,11946,MTAw,640,100,7645,7645.44000,836.220000,836.220000
38285,302625055,2019,28/08/2019 00:00,9,130846,6519,1,1,272,136597,...,3,1,2978,MTE4LjAwMDAwMA==,140,118,416,491.96560,41.692000,49.196560
38286,302625832,2019,21/09/2019 00:00,9,131078,243,1,1,272,210162,...,4,1,1134,MTAw,160,100,181,181.44000,22.680000,22.680000
38287,302625163,2019,31/08/2019 00:00,9,131147,3216,1,1,272,227423,...,3,1,1221,MTAw,400,100,488,488.40000,59.218500,59.218500
38288,302411351,2019,09/09/2019 00:00,9,131155,3238,1,1,272,149347,...,2,2,578,MTAw,34,100,19,19.65200,3.468000,3.468000
38289,302625449,2019,08/09/2019 00:00,9,131193,6519,1,1,272,301940,...,1,1,2341,MTE4LjAwMDAwMA==,236,118,552,651.92168,65.548000,77.346640
38290,302625420,2019,07/09/2019 00:00,9,131232,8281,1,1,272,375972,...,1,2,6339,MTAw,468,100,2966,2966.65200,126.146100,126.146100
38291,302625361,2019,06/09/2019 00:00,9,131244,21100,1,1,272,149347,...,2,2,1656,MTE4LjAwMDAwMA==,68,118,112,132.87744,16.560000,19.540800
38292,302625425,2019,08/09/2019 00:00,9,131244,21100,1,0,272,149347,...,2,2,1656,MTE4LjAwMDAwMA==,68,118,112,132.87744,16.560000,19.540800
38293,302625743,2019,18/09/2019 00:00,9,131341,4085,1,1,272,58975,...,1,2,4429,MTAw,340,100,1505,1505.86000,245.898080,245.898080
38294,302625004,2019,26/08/2019 00:00,9,131358,2113,1,1,272,203781,...,1,2,4082,MTAw,210,100,857,857.22000,81.640000,81.640000
38295,302625434,2019,08/09/2019 00:00,9,131358,2113,1,0,272,362416,...,1,2,4082,MTAw,1060,100,4326,4326.92000,211.447600,211.447600
38296,302625219,2019,01/09/2019 00:00,9,131456,7241,1,1,272,60396,...,2,3,3208,MTAw,1400,100,4491,4491.20000,368.920000,368.920000
38297,302625810,2019,20/09/2019 00:00,9,131531,2651,1,1,272,149347,...,3,1,1759,MTAw,34,100,59,59.80600,12.313000,12.313000
38298,302625300,2019,03/09/2019 00:00,9,131587,21112,1,1,272,375972,...,3,2,3949,MTAw,936,100,3696,3696.26400,209.297000,209.297000
38299,302625250,2019,02/09/2019 00:00,9,131599,4171,1,1,272,118885,...,2,2,1704,MTAw,170,100,289,289.68000,25.560000,25.560000
38300,302625260,2019,02/09/2019 00:00,9,131603,3230,1,1,272,210162,...,1,1,926,MTAw,160,100,148,148.16000,24.076000,24.076000
38301,302625216,2019,01/09/2019 00:00,9,131651,21117,1,1,272,328215,...,2,2,5034,MTAw,950,100,4782,4782.30000,0.000000,0.000000
38302,302625445,2019,08/09/2019 00:00,9,131680,7401,1,1,272,203779,...,3,1,1076,MTAw,400,100,430,430.40000,43.040000,43.040000
38303,302625328,2019,04/09/2019 00:00,9,131694,7643,1,1,272,375970,...,1,1,6964,MTAw,468,100,3259,3259.15200,194.992000,194.992000
38304,302625107,2019,29/08/2019 00:00,9,131697,5682,1,1,272,375972,...,2,1,2845,MTA1LjAwMDAwMA==,468,105,1331,1398.03300,75.392500,79.162125
38305,302625317,2019,04/09/2019 00:00,9,131697,5682,1,0,272,375972,...,2,1,2845,MTA1LjAwMDAwMA==,468,105,1331,1398.03300,73.970000,77.668500
38306,302625179,2019,31/08/2019 00:00,9,131716,6482,1,1,272,210162,...,1,2,3615,MTE4LjAwMDAwMA==,160,118,578,682.51200,59.647500,70.384050
38307,302625316,2019,04/09/2019 00:00,9,131757,2406,1,1,272,340215,...,3,2,3681,MTAw,930,100,3423,3423.33000,316.418760,316.418760
38308,302625193,2019,01/09/2019 00:00,9,131760,21099,1,1,272,210162,...,1,2,2339,MTAw,160,100,374,374.24000,58.475000,58.475000
38309,302625731,2019,17/09/2019 00:00,9,131774,21112,1,1,272,220407,...,3,2,3211,MTAw,160,100,513,513.76000,66.242930,66.242930
38310,302625857,2019,22/09/2019 00:00,9,131780,4010,1,1,272,203779,...,2,1,6621,MTAw,400,100,2648,2648.40000,278.082000,278.082000

In [33]:
d=[]

SyntaxError: invalid syntax (<ipython-input-33-08abf0e30b3d>, line 40)

In [ ]:
df.rename(columns=d,inplace=True)

## Explorar base

In [4]:
#muestra las primeras 10
df.shape

(38311, 51)

In [8]:
df.columns

Index(['IdAto', 'ano', 'data_compra', 'mes', 'Iddomicilio', 'ENTREV',
       'activos', 'UNICOS', 'IdProduto', 'IdArtigo', 'FlgGranel',
       'IDFabricante', 'Idmarca', 'IdCanal', 'IdHato_Cabecalho', 'Categoria',
       'ID_SubProduto', 'SubProduto', 'Fabricante', 'Marca', 'CodBarr',
       'IdPromocao', 'tipo_promocao', 'Canal', 'Vol_unitario', 'unidade',
       'Forma_compra', 'Forma de Compra', 'Pack_comprado', 'Unidades_packs',
       'Preco', 'Pecio_Campo', 'Preco_dolar', 'Quantidade', 'Cantidad_Campo',
       'Ciudad', 'localidad', 'Region', 'Region_Proyectada', 'Clas Region',
       'Estrato', 'NSE_BDD', 'ClasEdac', 'Peso', 'FACTOR_RW', 'Vol', 'valorRW',
       'VolPesado', 'volPesadoRW', 'Valor', 'valPesadoRW'],
      dtype='object')

In [21]:
df['IdAto']

0        270351947
1        270351716
2        270351756
3        270352833
4        270352944
5        270352710
6        270352958
7        270352252
8        270352885
9        270353017
10       270352365
11       270352217
12       270351554
13       270351740
14       270351903
15       270351828
16       270352083
17       270352375
18       270352685
19       270352303
20       270351547
21       270352066
22       270352377
23       270352533
24       270351879
25       270352805
26       270352739
27       270352159
28       270352466
29       270352058
           ...
38281    302625797
38282    302625451
38283    302625067
38284    302625588
38285    302625055
38286    302625832
38287    302625163
38288    302411351
38289    302625449
38290    302625420
38291    302625361
38292    302625425
38293    302625743
38294    302625004
38295    302625434
38296    302625219
38297    302625810
38298    302625300
38299    302625250
38300    302625260
38301    302625216
38302    302625445
38303    302625328
38304    302625107
38305    302625317
38306    302625179
38307    302625316
38308    302625193
38309    302625731
38310    302625857
Name: IdAto, Length: 38311, dtype: int64

In [20]:
#muestra las primeros 5
df.head()

,IdAto,ano,data_compra,mes,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,...,NSE_BDD,ClasEdac,Peso,FACTOR_RW,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW
0,270351947,2017,09/01/2017 00:00,1,52,4171,1,1,272,149347,...,4,2,4802,MTEw,34,110,163,179.5948,33.614000,36.975400
1,270351716,2017,05/01/2017 00:00,1,74,0,0,1,272,149347,...,4,3,2337,MTAw,34,100,79,79.4580,0.000000,0.000000
2,270351756,2017,06/01/2017 00:00,1,74,0,0,0,272,149347,...,4,3,2337,MTEw,34,110,79,87.4038,13.837377,15.221115
3,270352833,2017,28/01/2017 00:00,1,124,0,0,1,272,81129,...,4,3,3027,MTAw,300,100,908,908.1000,90.810000,90.810000
4,270352944,2017,30/01/2017 00:00,1,350,4108,1,1,272,301936,...,5,3,2127,ODM=,330,83,701,582.5853,31.905000,26.481150

In [7]:
#muestra las ultimas 5
df.tail()

,IdAto,ano,data_compra,mes,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,...,NSE_BDD,ClasEdac,Peso,FACTOR_RW,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW
38306,302625179,2019,31/08/2019 00:00,9,131716,6482,1,1,272,210162,...,1,2,3615,MTE4LjAwMDAwMA==,160,118,578,682.512,59.64750,70.38405
38307,302625316,2019,04/09/2019 00:00,9,131757,2406,1,1,272,340215,...,3,2,3681,MTAw,930,100,3423,3423.330,316.41876,316.41876
38308,302625193,2019,01/09/2019 00:00,9,131760,21099,1,1,272,210162,...,1,2,2339,MTAw,160,100,374,374.240,58.47500,58.47500
38309,302625731,2019,17/09/2019 00:00,9,131774,21112,1,1,272,220407,...,3,2,3211,MTAw,160,100,513,513.760,66.24293,66.24293
38310,302625857,2019,22/09/2019 00:00,9,131780,4010,1,1,272,203779,...,2,1,6621,MTAw,400,100,2648,2648.400,278.08200,278.08200

In [9]:
df.dtypes
#int674 es un valor entero
#float64 es un valor decimal
#object es una variable textual

IdAto                  int64
ano                    int64
data_compra           object
mes                    int64
Iddomicilio            int64
ENTREV                 int64
activos                int64
UNICOS                 int64
IdProduto              int64
IdArtigo               int64
FlgGranel              int64
IDFabricante           int64
Idmarca                int64
IdCanal                int64
IdHato_Cabecalho       int64
Categoria             object
ID_SubProduto          int64
SubProduto            object
Fabricante            object
Marca                 object
CodBarr              float64
IdPromocao             int64
tipo_promocao         object
Canal                 object
Vol_unitario           int64
unidade               object
Forma_compra           int64
Forma de Compra       object
Pack_comprado          int64
Unidades_packs         int64
Preco                float64
Pecio_Campo          float64
Preco_dolar          float64
Quantidade             int64
Cantidad_Campo         int64
Ciudad                 int64
localidad             object
Region                 int64
Region_Proyectada     object
Clas Region           object
Estrato                int64
NSE_BDD                int64
ClasEdac               int64
Peso                   int64
FACTOR_RW             object
Vol                    int64
valorRW                int64
VolPesado              int64
volPesadoRW          float64
Valor                float64
valPesadoRW          float64
dtype: object

In [22]:
df.values
#array podemos hacer operaciones matriciales

array([[270351947, 2017, '09/01/2017 00:00', ..., 179.5948,
        33.614000000000004, 36.9754],
       [270351716, 2017, '05/01/2017 00:00', ..., 79.458, 0.0, 0.0],
       [270351756, 2017, '06/01/2017 00:00', ..., 87.4038,
        13.837376999999998, 15.2211147],
       ...,
       [302625193, 2019, '01/09/2019 00:00', ..., 374.24, 58.475, 58.475],
       [302625731, 2019, '17/09/2019 00:00', ..., 513.76, 66.24293,
        66.24293],
       [302625857, 2019, '22/09/2019 00:00', ..., 2648.4, 278.082,
        278.082]], dtype=object)

In [23]:
#creamos otra base solo con las 10 primeras  filas de la base df 
df2 = df.head(10)

In [29]:
df2

,IdAto,ano,data_compra,mes,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,...,NSE_BDD,ClasEdac,Peso,FACTOR_RW,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW
0,270351947,2017,09/01/2017 00:00,1,52,4171,1,1,272,149347,...,4,2,4802,MTEw,34,110,163,179.5948,33.614000,36.975400
1,270351716,2017,05/01/2017 00:00,1,74,0,0,1,272,149347,...,4,3,2337,MTAw,34,100,79,79.4580,0.000000,0.000000
2,270351756,2017,06/01/2017 00:00,1,74,0,0,0,272,149347,...,4,3,2337,MTEw,34,110,79,87.4038,13.837377,15.221115
3,270352833,2017,28/01/2017 00:00,1,124,0,0,1,272,81129,...,4,3,3027,MTAw,300,100,908,908.1000,90.810000,90.810000
4,270352944,2017,30/01/2017 00:00,1,350,4108,1,1,272,301936,...,5,3,2127,ODM=,330,83,701,582.5853,31.905000,26.481150
5,270352710,2017,25/01/2017 00:00,1,354,0,0,1,272,203781,...,4,3,2906,ODA=,210,80,610,488.2080,66.838000,53.470400
6,270352958,2017,30/01/2017 00:00,1,356,4108,1,1,272,149347,...,4,2,3787,MTEw,34,110,128,141.6338,26.509000,29.159900
7,270352252,2017,15/01/2017 00:00,1,369,4178,1,1,272,69558,...,4,3,2906,MTAw,1000,100,2906,2906.0000,217.950000,217.950000
8,270352885,2017,29/01/2017 00:00,1,408,4016,1,1,272,203781,...,4,3,3944,MTAw,210,100,828,828.2400,0.000000,0.000000
9,270353017,2017,31/01/2017 00:00,1,510,0,0,1,272,203781,...,2,3,1498,NTA=,210,50,314,157.2900,22.470000,11.235000

In [24]:
df2.shape

(10, 51)

In [25]:
list(set(df.Categoria))
list(set(df['Categoria']))

['Cremadores / Substitutos de Crema']

In [15]:
#informacion por filas
df[0:10]

,IdAto,ano,data_compra,mes,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,...,NSE_BDD,ClasEdac,Peso,FACTOR_RW,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW
0,270351947,2017,09/01/2017 00:00,1,52,4171,1,1,272,149347,...,4,2,4802,MTEw,34,110,163,179.5948,33.614000,36.975400
1,270351716,2017,05/01/2017 00:00,1,74,0,0,1,272,149347,...,4,3,2337,MTAw,34,100,79,79.4580,0.000000,0.000000
2,270351756,2017,06/01/2017 00:00,1,74,0,0,0,272,149347,...,4,3,2337,MTEw,34,110,79,87.4038,13.837377,15.221115
3,270352833,2017,28/01/2017 00:00,1,124,0,0,1,272,81129,...,4,3,3027,MTAw,300,100,908,908.1000,90.810000,90.810000
4,270352944,2017,30/01/2017 00:00,1,350,4108,1,1,272,301936,...,5,3,2127,ODM=,330,83,701,582.5853,31.905000,26.481150
5,270352710,2017,25/01/2017 00:00,1,354,0,0,1,272,203781,...,4,3,2906,ODA=,210,80,610,488.2080,66.838000,53.470400
6,270352958,2017,30/01/2017 00:00,1,356,4108,1,1,272,149347,...,4,2,3787,MTEw,34,110,128,141.6338,26.509000,29.159900
7,270352252,2017,15/01/2017 00:00,1,369,4178,1,1,272,69558,...,4,3,2906,MTAw,1000,100,2906,2906.0000,217.950000,217.950000
8,270352885,2017,29/01/2017 00:00,1,408,4016,1,1,272,203781,...,4,3,3944,MTAw,210,100,828,828.2400,0.000000,0.000000
9,270353017,2017,31/01/2017 00:00,1,510,0,0,1,272,203781,...,2,3,1498,NTA=,210,50,314,157.2900,22.470000,11.235000

In [65]:
#Informacion por columnas
df['ano'].head()

0    2018
1    2018
2    2018
3    2018
4    2018
Name: ano, dtype: int64

In [7]:
#informacion de valores concretos
df[df['mes']>7]

,IdAto,ano,data_compra,mes,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,...,NSE_BDD,ClasEdac,Peso,FACTOR_RW,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW
8331,279389749,2017,2017-08-09,8,134,0,0,1,272,69558,...,4,3,1294,MTAw,1000,100,1294,1294.00000,102.22600,102.226000
8332,279389504,2017,2017-08-02,8,197,4105,1,1,272,58975,...,3,3,4067,MTAw,170,100,691,691.39000,87.44050,87.440500
8333,279816755,2017,2017-08-21,8,211,0,0,1,272,210162,...,3,3,2205,NTg=,160,58,352,204.62400,0.00000,0.000000
8334,279389272,2017,2017-07-26,8,351,4124,1,1,272,120930,...,4,3,1833,MTAw,16,100,29,29.32800,14.66400,14.664000
8335,279389383,2017,2017-07-30,8,402,4168,1,1,272,203779,...,4,3,1205,ODM=,400,83,482,400.06000,46.75400,38.805820
8336,279389277,2017,2017-07-26,8,479,4011,1,1,272,147389,...,4,3,2116,ODM=,226,83,478,396.91928,39.99240,33.193692
8337,279389385,2017,2017-07-30,8,667,4124,1,1,272,130881,...,3,2,2316,NTg=,227,58,525,304.92456,43.77240,25.387992
8338,279620194,2017,2017-08-12,8,727,4101,1,1,272,149026,...,1,3,1777,MTAw,420,100,746,746.34000,0.00000,0.000000
8339,279389524,2017,2017-08-03,8,819,4011,1,1,272,183143,...,4,2,3312,MTAw,1000,100,3312,3312.00000,248.40000,248.400000
8340,279816832,2017,2017-08-23,8,845,4159,1,1,272,244718,...,2,1,1254,MTAw,34,100,42,42.63600,8.77800,8.778000
8341,279389501,2017,2017-08-02,8,845,4159,1,0,272,244718,...,2,1,1254,MTAw,34,100,42,42.63600,6.27000,6.270000
8342,279389747,2017,2017-08-09,8,845,4159,1,0,272,244718,...,2,1,1254,MTAw,34,100,42,42.63600,6.27000,6.270000
8343,279389862,2017,2017-08-13,8,845,4159,1,0,272,244718,...,2,1,1254,MTAw,34,100,42,42.63600,6.27000,6.270000
8344,279389965,2017,2017-08-22,8,845,4159,1,0,272,244718,...,2,1,1254,MTAw,34,100,42,42.63600,8.77800,8.778000
8345,279389960,2017,2017-08-19,8,845,4159,1,0,272,244718,...,2,1,1254,MTAw,34,100,42,42.63600,8.77800,8.778000
8346,279389466,2017,2017-08-01,8,865,4119,1,1,272,56627,...,4,3,4071,MTAw,200,100,814,814.20000,0.00000,0.000000
8347,279389669,2017,2017-08-07,8,889,4085,1,1,272,203781,...,3,2,3750,ODM=,210,83,787,653.62500,75.00000,62.250000
8348,279389671,2017,2017-08-07,8,889,4085,1,0,272,227424,...,3,2,3750,ODM=,640,83,2400,1992.00000,168.75000,140.062500
8349,279816639,2017,2017-08-17,8,939,21086,1,1,272,130881,...,4,2,3828,MTAw,227,100,868,868.95600,61.24800,61.248000
8350,279389349,2017,2017-07-29,8,939,21086,1,0,272,130881,...,4,2,3828,MTAw,227,100,868,868.95600,68.90400,68.904000
8351,279389348,2017,2017-07-29,8,939,21086,1,0,272,130881,...,4,2,3828,MTAw,227,100,868,868.95600,68.90400,68.904000
8352,279389384,2017,2017-07-30,8,1015,4133,1,1,272,210162,...,4,3,3377,MTAw,160,100,540,540.32000,81.04800,81.048000
8353,279389888,2017,2017-08-14,8,1291,4174,1,1,272,244718,...,4,3,2473,MTAw,34,100,84,84.08200,17.31100,17.311000
8354,279816795,2017,2017-08-22,8,1435,4055,1,1,272,244718,...,5,3,2020,MTAw,68,100,137,137.36000,20.20000,20.200000
8355,279816794,2017,2017-08-22,8,1435,4055,1,0,272,244718,...,5,3,2020,MTAw,68,100,137,137.36000,20.20000,20.200000
8356,279389893,2017,2017-08-14,8,1435,4055,1,0,272,244718,...,5,3,2020,MTAw,34,100,68,68.68000,10.10000,10.100000
8357,279389388,2017,2017-07-30,8,1435,4055,1,0,272,69558,...,5,3,2020,MTAw,1000,100,2020,2020.00000,0.00000,0.000000
8358,279816721,2017,2017-08-20,8,1435,4055,1,0,272,69558,...,5,3,2020,MTAw,1000,100,2020,2020.00000,137.36000,137.360000
8359,279389752,2017,2017-08-09,8,1443,4016,1,1,272,149347,...,5,2,3891,MTAw,34,100,132,132.29400,23.34600,23.346000
8360,279389599,2017,2017-08-05,8,1603,4108,1,1,272,56627,...,4,2,2887,MTAw,200,100,577,577.40000,51.96600,51.966000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38281,302625797,2019,2019-09-20,9,130772,21082,1,1,272,99282,...,3,2,1269,MTAw,1000,100,1269,1269.00000,136.69668,136.696680
38282,302625451,2019,2019-09-08,9,130792,4171,1,1,272,69558,...,2,1,2753,MTAw,1000,100,2753,2753.00000,178.94500,178.945000
38283,302625067,2019,2019-08-28,9,130792,4171,1,0,272,69558,...,2,1,2753,MTAw,1000,100,2753,2753.00000,178.94500,178.945000
38284,302625588,2019,2019-09-13,9,130838,21128,1,1,272,227424,...,3,1,11946,MTAw,640,100,7645,7645.44000,836.22000,836.220000
38285,302625055,2019,2019-08-28,9,130846,6519,1,1,272,136597,...,3,1,2978,MTE4LjAwMDAwMA==,140,118,416,491.96560,41.69200,49.196560
38286,302625832,2019,2019-09-21,9,131078,243,1,1,272,210162,...,4,1,1134,MTAw,160,100,181,181.44000,22.68000,22.680000
38287,302625163,2019,2019-08-31,9,131147,3216,1,1,272,227423,...,3,1,1221,MTAw,400,100,488,488.40000,59.21850,59.218500
38288,302411351,2019,2019-09-09,9,131155,3238,1,1,272,149347,...,2,2,578,MTAw,34,100,19,19.65200,3.46800,3.468000
38289,302625449,2019,2019-09-08,9,131193,6519,1,1,272,301940,...,1,1,2341,MTE4LjAwMDAwMA==,236,118,552,651.92168,65.54800,77.346640
38290,302625420,2019,2019-09-07,9,131232,8281,1,1,272,375972,...,1,2,6339,MTAw,468,100,2966,2966.65200,126.14610,126.146100
38291,302625361,2019,2019-09-06,9,131244,21100,1,1,272,149347,...,2,2,1656,MTE4LjAwMDAwMA==,68,118,112,132.87744,16.56000,19.540800
38292,302625425,2019,2019-09-08,9,131244,21100,1,0,272,149347,...,2,2,1656,MTE4LjAwMDAwMA==,68,118,112,132.87744,16.56000,19.540800
38293,302625743,2019,2019-09-18,9,131341,4085,1,1,272,58975,...,1,2,4429,MTAw,340,100,1505,1505.86000,245.89808,245.898080
38294,302625004,2019,2019-08-26,9,131358,2113,1,1,272,203781,...,1,2,4082,MTAw,210,100,857,857.22000,81.64000,81.640000
38295,302625434,2019,2019-09-08,9,131358,2113,1,0,272,362416,...,1,2,4082,MTAw,1060,100,4326,4326.92000,211.44760,211.447600
38296,302625219,2019,2019-09-01,9,131456,7241,1,1,272,60396,...,2,3,3208,MTAw,1400,100,4491,4491.20000,368.92000,368.920000
38297,302625810,2019,2019-09-20,9,131531,2651,1,1,272,149347,...,3,1,1759,MTAw,34,100,59,59.80600,12.31300,12.313000
38298,302625300,2019,2019-09-03,9,131587,21112,1,1,272,375972,...,3,2,3949,MTAw,936,100,3696,3696.26400,209.29700,209.297000
38299,302625250,2019,2019-09-02,9,131599,4171,1,1,272,118885,...,2,2,1704,MTAw,170,100,289,289.68000,25.56000,25.560000
38300,302625260,2019,2019-09-02,9,131603,3230,1,1,272,210162,...,1,1,926,MTAw,160,100,148,148.16000,24.07600,24.076000
38301,302625216,2019,2019-09-01,9,131651,21117,1,1,272,328215,...,2,2,5034,MTAw,950,100,4782,4782.30000,0.00000,0.000000
38302,302625445,2019,2019-09-08,9,131680,7401,1,1,272,203779,...,3,1,1076,MTAw,400,100,430,430.40000,43.04000,43.040000
38303,302625328,2019,2019-09-04,9,131694,7643,1,1,272,375970,...,1,1,6964,MTAw,468,100,3259,3259.15200,194.99200,194.992000
38304,302625107,2019,2019-08-29,9,131697,5682,1,1,272,375972,...,2,1,2845,MTA1LjAwMDAwMA==,468,105,1331,1398.03300,75.39250,79.162125
38305,302625317,2019,2019-09-04,9,131697,5682,1,0,272,375972,...,2,1,2845,MTA1LjAwMDAwMA==,468,105,1331,1398.03300,73.97000,77.668500
38306,302625179,2019,2019-08-31,9,131716,6482,1,1,272,210162,...,1,2,3615,MTE4LjAwMDAwMA==,160,118,578,682.51200,59.64750,70.384050
38307,302625316,2019,2019-09-04,9,131757,2406,1,1,272,340215,...,3,2,3681,MTAw,930,100,3423,3423.33000,316.41876,316.418760
38308,302625193,2019,2019-09-01,9,131760,21099,1,1,272,210162,...,1,2,2339,MTAw,160,100,374,374.24000,58.47500,58.475000
38309,302625731,2019,2019-09-17,9,131774,21112,1,1,272,220407,...,3,2,3211,MTAw,160,100,513,513.76000,66.24293,66.242930
38310,302625857,2019,2019-09-22,9,131780,4010,1,1,272,203779,...,2,1,6621,MTAw,400,100,2648,2648.40000,278.08200,278.082000

In [18]:
df.shape

(38311, 51)

In [25]:
#Doble filtro o mas filtros
# cuando ponemos el simbolo & se tienen que cumplir todo eso, si ponemo un palito es si cumple este o este
df[((df['mes']==8) | (df['mes']==9)) & (df["Iddomicilio"] ==134 )]

,IdAto,ano,data_compra,mes,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,...,NSE_BDD,ClasEdac,Peso,FACTOR_RW,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW
8331,279389749,2017,2017-08-09,8,134,0,0,1,272,69558,...,4,3,1294,MTAw,1000,100,1294,1294.0,102.22600,102.22600
9411,280840925,2017,2017-09-20,9,134,0,0,1,272,69558,...,4,3,1453,MTAw,1000,100,1453,1453.0,103.09035,103.09035
9412,280524887,2017,2017-08-30,9,134,0,0,0,272,69558,...,4,3,1453,MTAw,1000,100,1453,1453.0,104.47070,104.47070
24003,291723031,2018,2018-09-13,9,134,0,0,1,272,69558,...,4,3,1455,MTAw,1000,100,1455,1455.0,101.06430,101.06430

In [29]:
# filtramos por los meses 8 y 9 podemos poner tambien palabras en vez de numero o las dos 
print(df[df.mes.isin([8,7])]&df[df.Iddomicilio.isin([34])])

TypeError: unsupported operand type(s) for &: 'str' and 'bool'

In [20]:
#nos muestra los datos que no tienen nada en la columna CodBarr 
df[pd.isna(df["CodBarr"])].head()

,IdAto,ano,data_compra,mes,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,...,NSE_BDD,ClasEdac,Peso,FACTOR_RW,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW
2754,271168100,2017,07/02/2017 00:00,2,115034,2113,1,1,272,301944,...,2,2,1927,MTAw,1500,100,2890,2890.500,115.62,115.620
7199,277354960,2017,27/05/2017 00:00,6,131095,3233,1,1,272,245786,...,5,2,929,MTAw,100,100,92,92.900,0.00,0.000
7599,278829237,2017,01/07/2017 00:00,7,24223,21034,1,1,272,132404,...,3,3,2580,MTAw,36,100,92,92.880,20.64,20.640
7946,278829239,2017,10/07/2017 00:00,7,88843,6082,1,1,272,132404,...,4,3,625,NDY=,36,46,22,10.350,5.00,2.300
8707,279816584,2017,13/08/2017 00:00,8,24220,21034,1,1,272,120930,...,4,3,3440,MTk3,40,197,137,271.072,34.40,67.768

In [21]:
#para contar los que no tienen datos 
len(df[pd.isna(df["CodBarr"])])

22

In [37]:
df3=df[(df['ano']==2018) & (df["Iddomicilio"] ==134 )]

In [38]:
df3

,IdAto,ano,data_compra,mes,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,...,NSE_BDD,ClasEdac,Peso,FACTOR_RW,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW
17632,286984964,2018,2018-03-07,3,134,0,0,1,272,69558,...,4,3,1301,MTAw,1000,100,1301,1301.0,77.18833,77.18833
21894,290471757,2018,2018-06-24,7,134,0,0,1,272,69558,...,4,3,1375,MTAw,1000,100,1375,1375.0,81.57875,81.57875
24003,291723031,2018,2018-09-13,9,134,0,0,1,272,69558,...,4,3,1455,MTAw,1000,100,1455,1455.0,101.06430,101.06430

In [39]:
#Analisis descriptivo de los datos que tenemos por columna
df3.describe()
#df.describe(percentiles=[.05,.10,.90,.95])

,IdAto,ano,mes,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,FlgGranel,...,Estrato,NSE_BDD,ClasEdac,Peso,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW
count,3.000000e+00,3.0,3.000000,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.000000,3.0,3.0,3.000000,3.000000,3.000000,3.000000
mean,2.897266e+08,2018.0,6.333333,134.0,0.0,0.0,1.0,272.0,69558.0,0.0,...,5.0,4.0,3.0,1377.000000,1000.0,100.0,1377.000000,1377.000000,86.610460,86.610460
std,2.455358e+06,0.0,3.055050,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,77.019478,0.0,0.0,77.019478,77.019478,12.708425,12.708425
min,2.869850e+08,2018.0,3.000000,134.0,0.0,0.0,1.0,272.0,69558.0,0.0,...,5.0,4.0,3.0,1301.000000,1000.0,100.0,1301.000000,1301.000000,77.188330,77.188330
25%,2.887284e+08,2018.0,5.000000,134.0,0.0,0.0,1.0,272.0,69558.0,0.0,...,5.0,4.0,3.0,1338.000000,1000.0,100.0,1338.000000,1338.000000,79.383540,79.383540
50%,2.904718e+08,2018.0,7.000000,134.0,0.0,0.0,1.0,272.0,69558.0,0.0,...,5.0,4.0,3.0,1375.000000,1000.0,100.0,1375.000000,1375.000000,81.578750,81.578750
75%,2.910974e+08,2018.0,8.000000,134.0,0.0,0.0,1.0,272.0,69558.0,0.0,...,5.0,4.0,3.0,1415.000000,1000.0,100.0,1415.000000,1415.000000,91.321525,91.321525
max,2.917230e+08,2018.0,9.000000,134.0,0.0,0.0,1.0,272.0,69558.0,0.0,...,5.0,4.0,3.0,1455.000000,1000.0,100.0,1455.000000,1455.000000,101.064300,101.064300

In [40]:
#Contamos los diferentes datos que tenemos en cada columna, por ejemplo en Año tenemos dos años que es el 2017 y 2018
def unique_col_values(df):
    for column in df:
        print("{} | {} | {}".format(
            df[column].name, len(df[column].unique()), df[column].dtype
        ))

unique_col_values(df)

IdAto | 38311 | int64
ano | 3 | int64
data_compra | 1003 | datetime64[ns]
mes | 12 | int64
Iddomicilio | 6363 | int64
ENTREV | 203 | int64
activos | 2 | int64
UNICOS | 2 | int64
IdProduto | 1 | int64
IdArtigo | 185 | int64
FlgGranel | 1 | int64
IDFabricante | 25 | int64
Idmarca | 35 | int64
IdCanal | 133 | int64
IdHato_Cabecalho | 36641 | int64
Categoria | 1 | object
ID_SubProduto | 2 | int64
SubProduto | 2 | object
Fabricante | 25 | object
Marca | 36 | object
CodBarr | 221 | float64
IdPromocao | 7 | int64
tipo_promocao | 7 | object
Canal | 133 | object
Vol_unitario | 58 | int64
unidade | 4 | object
Forma_compra | 3 | int64
Forma de Compra | 3 | object
Pack_comprado | 17 | int64
Unidades_packs | 16 | int64
Preco | 1648 | float64
Pecio_Campo | 1138 | float64
Preco_dolar | 9859 | float64
Quantidade | 20 | int64
Cantidad_Campo | 26 | int64
Ciudad | 102 | int64
localidad | 101 | object
Region | 6 | int64
Region_Proyectada | 6 | object
Clas Region | 12 | object
Estrato | 5 | int64
NSE_BDD | 6 | int64
ClasEdac | 3 | int64
Peso | 6656 | int64
FACTOR_RW | 87 | object
Vol | 158 | int64
valorRW | 81 | int64
VolPesado | 4242 | int64
volPesadoRW | 25223 | float64
Valor | 26075 | float64
valPesadoRW | 27834 | float64

In [ ]:
list(set(df.Produto))
list(set(df['Clas Region']))

In [ ]:
# Cambia el indice a la columna "fecha_inicio".
df.set_index("ano")

In [ ]:
# Ordena el índice de forma descendiente
df.sort_index(ascending=False)
#desendiente seia poner True

In [ ]:
# Resetea el índice
avengers = avengers.reset_index()

## TRANSFORMACION DE UNA BASE DE DATOS

In [49]:
#creamos una nueva columna llamada valor estos multiplicando dos columnas (round es para redondear)
df["Valor"] = round(df["Quantidade"]* df["Preco"]*2)

In [50]:
df

,IdAto,ano,data_compra,mes,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,...,ClasEdac,Peso,FACTOR_RW,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW,valor
0,270351947,2017,2017-01-09,1,52,4171,1,1,272,149347,...,2,4802,MTEw,34,110,163,179.59480,14.0,36.975400,7.0
1,270351716,2017,2017-01-05,1,74,0,0,1,272,149347,...,3,2337,MTAw,34,100,79,79.45800,0.0,0.000000,0.0
2,270351756,2017,2017-01-06,1,74,0,0,0,272,149347,...,3,2337,MTEw,34,110,79,87.40380,12.0,15.221115,6.0
3,270352833,2017,2017-01-28,1,124,0,0,1,272,81129,...,3,3027,MTAw,300,100,908,908.10000,60.0,90.810000,30.0
4,270352944,2017,2017-01-30,1,350,4108,1,1,272,301936,...,3,2127,ODM=,330,83,701,582.58530,30.0,26.481150,15.0
5,270352710,2017,2017-01-25,1,354,0,0,1,272,203781,...,3,2906,ODA=,210,80,610,488.20800,46.0,53.470400,23.0
6,270352958,2017,2017-01-30,1,356,4108,1,1,272,149347,...,2,3787,MTEw,34,110,128,141.63380,14.0,29.159900,7.0
7,270352252,2017,2017-01-15,1,369,4178,1,1,272,69558,...,3,2906,MTAw,1000,100,2906,2906.00000,150.0,217.950000,75.0
8,270352885,2017,2017-01-29,1,408,4016,1,1,272,203781,...,3,3944,MTAw,210,100,828,828.24000,0.0,0.000000,0.0
9,270353017,2017,2017-01-31,1,510,0,0,1,272,203781,...,3,1498,NTA=,210,50,314,157.29000,30.0,11.235000,15.0
10,270352365,2017,2017-01-18,1,512,4159,1,1,272,149347,...,3,9574,MTEw,34,110,325,358.06760,10.0,52.657000,5.0
11,270352217,2017,2017-01-15,1,588,4170,1,1,272,149347,...,3,8860,MTEw,34,110,301,331.36400,12.0,57.706066,6.0
12,270351554,2017,2017-01-02,1,601,4010,1,1,272,137071,...,3,1565,MTAw,500,100,782,782.50000,49.0,38.342500,24.0
13,270351740,2017,2017-01-06,1,727,4101,1,1,272,127513,...,3,2084,ODM=,1000,83,2084,1729.72000,100.0,86.486000,50.0
14,270351903,2017,2017-01-09,1,769,4011,1,1,272,149347,...,2,3876,MTEw,34,110,131,144.96240,13.0,27.713400,6.0
15,270351828,2017,2017-01-08,1,811,4108,1,1,272,119559,...,2,2937,MTEw,623,110,1829,2012.72610,96.0,155.073600,48.0
16,270352083,2017,2017-01-12,1,823,0,0,1,272,222812,...,2,2286,MTAw,930,100,2125,2125.98000,130.0,148.590000,65.0
17,270352375,2017,2017-01-18,1,823,0,0,0,272,210162,...,2,2286,MTAw,160,100,365,365.76000,40.0,45.720000,20.0
18,270352685,2017,2017-01-24,1,937,0,0,1,272,203779,...,3,2136,MTAw,400,100,854,854.40000,84.0,89.498400,42.0
19,270352303,2017,2017-01-17,1,939,21086,1,1,272,69558,...,2,4619,MTAw,1000,100,4619,4619.00000,120.0,277.140000,60.0
20,270351547,2017,2017-01-02,1,942,4133,1,1,272,210162,...,2,2281,ODM=,160,83,364,302.91680,46.0,43.354967,23.0
21,270352066,2017,2017-01-12,1,989,4101,1,1,272,149347,...,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000,6.0
22,270352377,2017,2017-01-18,1,989,4101,1,0,272,149347,...,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000,6.0
23,270352533,2017,2017-01-22,1,989,4101,1,0,272,149347,...,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000,6.0
24,270351879,2017,2017-01-08,1,989,4101,1,0,272,149347,...,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000,6.0
25,270352805,2017,2017-01-27,1,989,4101,1,0,272,149347,...,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000,6.0
26,270352739,2017,2017-01-26,1,989,4101,1,0,272,149347,...,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000,6.0
27,270352159,2017,2017-01-14,1,1015,4133,1,1,272,149026,...,3,3546,MTAw,420,100,1489,1489.32000,76.0,134.748000,38.0
28,270352466,2017,2017-01-20,1,1187,4108,1,1,272,203781,...,2,1840,ODA=,210,80,386,309.12000,50.0,36.800000,25.0
29,270352058,2017,2017-01-12,1,1196,4156,1,1,272,69558,...,3,2243,MTEw,1000,110,2243,2467.30000,110.0,135.701500,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38281,302625797,2019,2019-09-20,9,130772,21082,1,1,272,99282,...,2,1269,MTAw,1000,100,1269,1269.00000,215.0,136.696680,108.0
38282,302625451,2019,2019-09-08,9,130792,4171,1,1,272,69558,...,1,2753,MTAw,1000,100,2753,2753.00000,130.0,178.945000,65.0
38283,302625067,2019,2019-08-28,9,130792,4171,1,0,272,69558,...,1,2753,MTAw,1000,100,2753,2753.00000,130.0,178.945000,65.0
38284,302625588,2019,2019-09-13,9,130838,21128,1,1,272,227424,...,1,11946,MTAw,640,100,7645,7645.44000,140.0,836.220000,70.0
38285,302625055,2019,2019-08-28,9,130846,6519,1,1,272,136597,...,1,2978,MTE4LjAwMDAwMA==,140,118,416,491.96560,28.0,49.196560,14.0
38286,302625832,2019,2019-09-21,9,131078,243,1,1,272,210162,...,1,1134,MTAw,160,100,181,181.44000,40.0,22.680000,20.0
38287,302625163,2019,2019-08-31,9,131147,3216,1,1,272,227423,...,1,1221,MTAw,400,100,488,488.40000,97.0,59.218500,48.0
38288,302411351,2019,2019-09-09,9,131155,3238,1,1,272,149347,...,2,578,MTAw,34,100,19,19.65200,12.0,3.468000,6.0
38289,302625449,2019,2019-09-08,9,131193,6519,1,1,272,301940,...,1,2341,MTE4LjAwMDAwMA==,236,118,552,651.92168,56.0,77.346640,28.0
38290,302625420,2019,2019-09-07,9,131232,8281,1,1,272,375972,...,2,6339,MTAw,468,100,2966,2966.65200,40.0,126.146100,20.0
38291,302625361,2019,2019-09-06,9,131244,21100,1,1,272,149347,...,2,1656,MTE4LjAwMDAwMA==,68,118,112,132.87744,20.0,19.540800,10.0
38292,302625425,2019,2019-09-08,9,131244,21100,1,0,272,149347,...,2,1656,MTE4LjAwMDAwMA==,68,118,112,132.87744,20.0,19.540800,10.0
38293,302625743,2019,2019-09-18,9,131341,4085,1,1,272,58975,...,2,4429,MTAw,340,100,1505,1505.86000,111.0,245.898080,56.0
38294,302625004,2019,2019-08-26,9,131358,2113,1,1,272,203781,...,2,4082,MTAw,210,100,857,857.22000,40.0,81.640000,20.0
38295,302625434,2019,2019-09-08,9,131358,2113,1,0,272,362416,...,2,4082,MTAw,1060,100,4326,4326.92000,104.0,211.447600,52.0
38296,302625219,2019,2019-09-01,9,131456,7241,1,1,272,60396,...,3,3208,MTAw,1400,100,4491,4491.20000,230.0,368.920000,115.0
38297,302625810,2019,2019-09-20,9,131531,2651,1,1,272,149347,...,1,1759,MTAw,34,100,59,59.80600,14.0,12.313000,7.0
38298,302625300,2019,2019-09-03,9,131587,21112,1,1,272,375972,...,2,3949,MTAw,936,100,3696,3696.26400,106.0,209.297000,53.0
38299,302625250,2019,2019-09-02,9,131599,4171,1,1,272,118885,...,2,1704,MTAw,170,100,289,289.68000,30.0,25.560000,15.0
38300,302625260,2019,2019-09-02,9,131603,3230,1,1,272,210162,...,1,926,MTAw,160,100,148,148.16000,52.0,24.076000,26.0
38301,302625216,2019,2019-09-01,9,131651,21117,1,1,272,328215,...,2,5034,MTAw,950,100,4782,4782.30000,0.0,0.000000,0.0
38302,302625445,2019,2019-09-08,9,131680,7401,1,1,272,203779,...,1,1076,MTAw,400,100,430,430.40000,80.0,43.040000,40.0
38303,302625328,2019,2019-09-04,9,131694,7643,1,1,272,375970,...,1,6964,MTAw,468,100,3259,3259.15200,56.0,194.992000,28.0
38304,302625107,2019,2019-08-29,9,131697,5682,1,1,272,375972,...,1,2845,MTA1LjAwMDAwMA==,468,105,1331,1398.03300,53.0,79.162125,26.0
38305,302625317,2019,2019-09-04,9,131697,5682,1,0,272,375972,...,1,2845,MTA1LjAwMDAwMA==,468,105,1331,1398.03300,52.0,77.668500,26.0
38306,302625179,2019,2019-08-31,9,131716,6482,1,1,272,210162,...,2,3615,MTE4LjAwMDAwMA==,160,118,578,682.51200,33.0,70.384050,16.0
38307,302625316,2019,2019-09-04,9,131757,2406,1,1,272,340215,...,2,3681,MTAw,930,100,3423,3423.33000,172.0,316.418760,86.0
38308,302625193,2019,2019-09-01,9,131760,21099,1,1,272,210162,...,2,2339,MTAw,160,100,374,374.24000,50.0,58.475000,25.0
38309,302625731,2019,2019-09-17,9,131774,21112,1,1,272,220407,...,2,3211,MTAw,160,100,513,513.76000,41.0,66.242930,21.0
38310,302625857,2019,2019-09-22,9,131780,4010,1,1,272,203779,...,1,6621,MTAw,400,100,2648,2648.40000,84.0,278.082000,42.0

In [73]:
df["valor"].head()

0    14.0
1    26.0
2    10.0
3    10.0
4    13.0
Name: valor, dtype: float64

In [51]:
#para eliminar la columna 
del(df["valor"])

In [52]:
df

,IdAto,ano,data_compra,mes,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,...,NSE_BDD,ClasEdac,Peso,FACTOR_RW,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW
0,270351947,2017,2017-01-09,1,52,4171,1,1,272,149347,...,4,2,4802,MTEw,34,110,163,179.59480,14.0,36.975400
1,270351716,2017,2017-01-05,1,74,0,0,1,272,149347,...,4,3,2337,MTAw,34,100,79,79.45800,0.0,0.000000
2,270351756,2017,2017-01-06,1,74,0,0,0,272,149347,...,4,3,2337,MTEw,34,110,79,87.40380,12.0,15.221115
3,270352833,2017,2017-01-28,1,124,0,0,1,272,81129,...,4,3,3027,MTAw,300,100,908,908.10000,60.0,90.810000
4,270352944,2017,2017-01-30,1,350,4108,1,1,272,301936,...,5,3,2127,ODM=,330,83,701,582.58530,30.0,26.481150
5,270352710,2017,2017-01-25,1,354,0,0,1,272,203781,...,4,3,2906,ODA=,210,80,610,488.20800,46.0,53.470400
6,270352958,2017,2017-01-30,1,356,4108,1,1,272,149347,...,4,2,3787,MTEw,34,110,128,141.63380,14.0,29.159900
7,270352252,2017,2017-01-15,1,369,4178,1,1,272,69558,...,4,3,2906,MTAw,1000,100,2906,2906.00000,150.0,217.950000
8,270352885,2017,2017-01-29,1,408,4016,1,1,272,203781,...,4,3,3944,MTAw,210,100,828,828.24000,0.0,0.000000
9,270353017,2017,2017-01-31,1,510,0,0,1,272,203781,...,2,3,1498,NTA=,210,50,314,157.29000,30.0,11.235000
10,270352365,2017,2017-01-18,1,512,4159,1,1,272,149347,...,3,3,9574,MTEw,34,110,325,358.06760,10.0,52.657000
11,270352217,2017,2017-01-15,1,588,4170,1,1,272,149347,...,2,3,8860,MTEw,34,110,301,331.36400,12.0,57.706066
12,270351554,2017,2017-01-02,1,601,4010,1,1,272,137071,...,1,3,1565,MTAw,500,100,782,782.50000,49.0,38.342500
13,270351740,2017,2017-01-06,1,727,4101,1,1,272,127513,...,1,3,2084,ODM=,1000,83,2084,1729.72000,100.0,86.486000
14,270351903,2017,2017-01-09,1,769,4011,1,1,272,149347,...,4,2,3876,MTEw,34,110,131,144.96240,13.0,27.713400
15,270351828,2017,2017-01-08,1,811,4108,1,1,272,119559,...,4,2,2937,MTEw,623,110,1829,2012.72610,96.0,155.073600
16,270352083,2017,2017-01-12,1,823,0,0,1,272,222812,...,2,2,2286,MTAw,930,100,2125,2125.98000,130.0,148.590000
17,270352375,2017,2017-01-18,1,823,0,0,0,272,210162,...,2,2,2286,MTAw,160,100,365,365.76000,40.0,45.720000
18,270352685,2017,2017-01-24,1,937,0,0,1,272,203779,...,5,3,2136,MTAw,400,100,854,854.40000,84.0,89.498400
19,270352303,2017,2017-01-17,1,939,21086,1,1,272,69558,...,4,2,4619,MTAw,1000,100,4619,4619.00000,120.0,277.140000
20,270351547,2017,2017-01-02,1,942,4133,1,1,272,210162,...,4,2,2281,ODM=,160,83,364,302.91680,46.0,43.354967
21,270352066,2017,2017-01-12,1,989,4101,1,1,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
22,270352377,2017,2017-01-18,1,989,4101,1,0,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
23,270352533,2017,2017-01-22,1,989,4101,1,0,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
24,270351879,2017,2017-01-08,1,989,4101,1,0,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
25,270352805,2017,2017-01-27,1,989,4101,1,0,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
26,270352739,2017,2017-01-26,1,989,4101,1,0,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
27,270352159,2017,2017-01-14,1,1015,4133,1,1,272,149026,...,4,3,3546,MTAw,420,100,1489,1489.32000,76.0,134.748000
28,270352466,2017,2017-01-20,1,1187,4108,1,1,272,203781,...,5,2,1840,ODA=,210,80,386,309.12000,50.0,36.800000
29,270352058,2017,2017-01-12,1,1196,4156,1,1,272,69558,...,4,3,2243,MTEw,1000,110,2243,2467.30000,110.0,135.701500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38281,302625797,2019,2019-09-20,9,130772,21082,1,1,272,99282,...,3,2,1269,MTAw,1000,100,1269,1269.00000,215.0,136.696680
38282,302625451,2019,2019-09-08,9,130792,4171,1,1,272,69558,...,2,1,2753,MTAw,1000,100,2753,2753.00000,130.0,178.945000
38283,302625067,2019,2019-08-28,9,130792,4171,1,0,272,69558,...,2,1,2753,MTAw,1000,100,2753,2753.00000,130.0,178.945000
38284,302625588,2019,2019-09-13,9,130838,21128,1,1,272,227424,...,3,1,11946,MTAw,640,100,7645,7645.44000,140.0,836.220000
38285,302625055,2019,2019-08-28,9,130846,6519,1,1,272,136597,...,3,1,2978,MTE4LjAwMDAwMA==,140,118,416,491.96560,28.0,49.196560
38286,302625832,2019,2019-09-21,9,131078,243,1,1,272,210162,...,4,1,1134,MTAw,160,100,181,181.44000,40.0,22.680000
38287,302625163,2019,2019-08-31,9,131147,3216,1,1,272,227423,...,3,1,1221,MTAw,400,100,488,488.40000,97.0,59.218500
38288,302411351,2019,2019-09-09,9,131155,3238,1,1,272,149347,...,2,2,578,MTAw,34,100,19,19.65200,12.0,3.468000
38289,302625449,2019,2019-09-08,9,131193,6519,1,1,272,301940,...,1,1,2341,MTE4LjAwMDAwMA==,236,118,552,651.92168,56.0,77.346640
38290,302625420,2019,2019-09-07,9,131232,8281,1,1,272,375972,...,1,2,6339,MTAw,468,100,2966,2966.65200,40.0,126.146100
38291,302625361,2019,2019-09-06,9,131244,21100,1,1,272,149347,...,2,2,1656,MTE4LjAwMDAwMA==,68,118,112,132.87744,20.0,19.540800
38292,302625425,2019,2019-09-08,9,131244,21100,1,0,272,149347,...,2,2,1656,MTE4LjAwMDAwMA==,68,118,112,132.87744,20.0,19.540800
38293,302625743,2019,2019-09-18,9,131341,4085,1,1,272,58975,...,1,2,4429,MTAw,340,100,1505,1505.86000,111.0,245.898080
38294,302625004,2019,2019-08-26,9,131358,2113,1,1,272,203781,...,1,2,4082,MTAw,210,100,857,857.22000,40.0,81.640000
38295,302625434,2019,2019-09-08,9,131358,2113,1,0,272,362416,...,1,2,4082,MTAw,1060,100,4326,4326.92000,104.0,211.447600
38296,302625219,2019,2019-09-01,9,131456,7241,1,1,272,60396,...,2,3,3208,MTAw,1400,100,4491,4491.20000,230.0,368.920000
38297,302625810,2019,2019-09-20,9,131531,2651,1,1,272,149347,...,3,1,1759,MTAw,34,100,59,59.80600,14.0,12.313000
38298,302625300,2019,2019-09-03,9,131587,21112,1,1,272,375972,...,3,2,3949,MTAw,936,100,3696,3696.26400,106.0,209.297000
38299,302625250,2019,2019-09-02,9,131599,4171,1,1,272,118885,...,2,2,1704,MTAw,170,100,289,289.68000,30.0,25.560000
38300,302625260,2019,2019-09-02,9,131603,3230,1,1,272,210162,...,1,1,926,MTAw,160,100,148,148.16000,52.0,24.076000
38301,302625216,2019,2019-09-01,9,131651,21117,1,1,272,328215,...,2,2,5034,MTAw,950,100,4782,4782.30000,0.0,0.000000
38302,302625445,2019,2019-09-08,9,131680,7401,1,1,272,203779,...,3,1,1076,MTAw,400,100,430,430.40000,80.0,43.040000
38303,302625328,2019,2019-09-04,9,131694,7643,1,1,272,375970,...,1,1,6964,MTAw,468,100,3259,3259.15200,56.0,194.992000
38304,302625107,2019,2019-08-29,9,131697,5682,1,1,272,375972,...,2,1,2845,MTA1LjAwMDAwMA==,468,105,1331,1398.03300,53.0,79.162125
38305,302625317,2019,2019-09-04,9,131697,5682,1,0,272,375972,...,2,1,2845,MTA1LjAwMDAwMA==,468,105,1331,1398.03300,52.0,77.668500
38306,302625179,2019,2019-08-31,9,131716,6482,1,1,272,210162,...,1,2,3615,MTE4LjAwMDAwMA==,160,118,578,682.51200,33.0,70.384050
38307,302625316,2019,2019-09-04,9,131757,2406,1,1,272,340215,...,3,2,3681,MTAw,930,100,3423,3423.33000,172.0,316.418760
38308,302625193,2019,2019-09-01,9,131760,21099,1,1,272,210162,...,1,2,2339,MTAw,160,100,374,374.24000,50.0,58.475000
38309,302625731,2019,2019-09-17,9,131774,21112,1,1,272,220407,...,3,2,3211,MTAw,160,100,513,513.76000,41.0,66.242930
38310,302625857,2019,2019-09-22,9,131780,4010,1,1,272,203779,...,2,1,6621,MTAw,400,100,2648,2648.40000,84.0,278.082000

In [56]:
#para borrar columnas al mismo tiempo se hace con esta funcion y se pone axis=1 para identificar que es columnas
#pero si vas a borrar filas puedes omitirlo o poner axis=0 
df.drop(["IdAto","ano","mes"],axis=1)
#si queremos que se borre igualamos a df o ponemos otro nombre

,data_compra,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,FlgGranel,IDFabricante,Idmarca,...,NSE_BDD,ClasEdac,Peso,FACTOR_RW,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW
0,2017-01-09,52,4171,1,1,272,149347,0,20,9,...,4,2,4802,MTEw,34,110,163,179.59480,14.0,36.975400
1,2017-01-05,74,0,0,1,272,149347,0,20,9,...,4,3,2337,MTAw,34,100,79,79.45800,0.0,0.000000
2,2017-01-06,74,0,0,0,272,149347,0,20,9,...,4,3,2337,MTEw,34,110,79,87.40380,12.0,15.221115
3,2017-01-28,124,0,0,1,272,81129,0,8,29,...,4,3,3027,MTAw,300,100,908,908.10000,60.0,90.810000
4,2017-01-30,350,4108,1,1,272,301936,0,20,6,...,5,3,2127,ODM=,330,83,701,582.58530,30.0,26.481150
5,2017-01-25,354,0,0,1,272,203781,0,20,9,...,4,3,2906,ODA=,210,80,610,488.20800,46.0,53.470400
6,2017-01-30,356,4108,1,1,272,149347,0,20,9,...,4,2,3787,MTEw,34,110,128,141.63380,14.0,29.159900
7,2017-01-15,369,4178,1,1,272,69558,0,34,35,...,4,3,2906,MTAw,1000,100,2906,2906.00000,150.0,217.950000
8,2017-01-29,408,4016,1,1,272,203781,0,20,9,...,4,3,3944,MTAw,210,100,828,828.24000,0.0,0.000000
9,2017-01-31,510,0,0,1,272,203781,0,20,9,...,2,3,1498,NTA=,210,50,314,157.29000,30.0,11.235000
10,2017-01-18,512,4159,1,1,272,149347,0,20,9,...,3,3,9574,MTEw,34,110,325,358.06760,10.0,52.657000
11,2017-01-15,588,4170,1,1,272,149347,0,20,9,...,2,3,8860,MTEw,34,110,301,331.36400,12.0,57.706066
12,2017-01-02,601,4010,1,1,272,137071,0,20,9,...,1,3,1565,MTAw,500,100,782,782.50000,49.0,38.342500
13,2017-01-06,727,4101,1,1,272,127513,0,3,5,...,1,3,2084,ODM=,1000,83,2084,1729.72000,100.0,86.486000
14,2017-01-09,769,4011,1,1,272,149347,0,20,9,...,4,2,3876,MTEw,34,110,131,144.96240,13.0,27.713400
15,2017-01-08,811,4108,1,1,272,119559,0,34,21,...,4,2,2937,MTEw,623,110,1829,2012.72610,96.0,155.073600
16,2017-01-12,823,0,0,1,272,222812,0,20,9,...,2,2,2286,MTAw,930,100,2125,2125.98000,130.0,148.590000
17,2017-01-18,823,0,0,0,272,210162,0,20,9,...,2,2,2286,MTAw,160,100,365,365.76000,40.0,45.720000
18,2017-01-24,937,0,0,1,272,203779,0,20,9,...,5,3,2136,MTAw,400,100,854,854.40000,84.0,89.498400
19,2017-01-17,939,21086,1,1,272,69558,0,34,35,...,4,2,4619,MTAw,1000,100,4619,4619.00000,120.0,277.140000
20,2017-01-02,942,4133,1,1,272,210162,0,20,9,...,4,2,2281,ODM=,160,83,364,302.91680,46.0,43.354967
21,2017-01-12,989,4101,1,1,272,149347,0,20,9,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
22,2017-01-18,989,4101,1,0,272,149347,0,20,9,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
23,2017-01-22,989,4101,1,0,272,149347,0,20,9,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
24,2017-01-08,989,4101,1,0,272,149347,0,20,9,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
25,2017-01-27,989,4101,1,0,272,149347,0,20,9,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
26,2017-01-26,989,4101,1,0,272,149347,0,20,9,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
27,2017-01-14,1015,4133,1,1,272,149026,0,20,9,...,4,3,3546,MTAw,420,100,1489,1489.32000,76.0,134.748000
28,2017-01-20,1187,4108,1,1,272,203781,0,20,9,...,5,2,1840,ODA=,210,80,386,309.12000,50.0,36.800000
29,2017-01-12,1196,4156,1,1,272,69558,0,34,35,...,4,3,2243,MTEw,1000,110,2243,2467.30000,110.0,135.701500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38281,2019-09-20,130772,21082,1,1,272,99282,0,20,9,...,3,2,1269,MTAw,1000,100,1269,1269.00000,215.0,136.696680
38282,2019-09-08,130792,4171,1,1,272,69558,0,34,35,...,2,1,2753,MTAw,1000,100,2753,2753.00000,130.0,178.945000
38283,2019-08-28,130792,4171,1,0,272,69558,0,34,35,...,2,1,2753,MTAw,1000,100,2753,2753.00000,130.0,178.945000
38284,2019-09-13,130838,21128,1,1,272,227424,0,20,9,...,3,1,11946,MTAw,640,100,7645,7645.44000,140.0,836.220000
38285,2019-08-28,130846,6519,1,1,272,136597,0,20,9,...,3,1,2978,MTE4LjAwMDAwMA==,140,118,416,491.96560,28.0,49.196560
38286,2019-09-21,131078,243,1,1,272,210162,0,20,9,...,4,1,1134,MTAw,160,100,181,181.44000,40.0,22.680000
38287,2019-08-31,131147,3216,1,1,272,227423,0,20,9,...,3,1,1221,MTAw,400,100,488,488.40000,97.0,59.218500
38288,2019-09-09,131155,3238,1,1,272,149347,0,20,9,...,2,2,578,MTAw,34,100,19,19.65200,12.0,3.468000
38289,2019-09-08,131193,6519,1,1,272,301940,0,20,9,...,1,1,2341,MTE4LjAwMDAwMA==,236,118,552,651.92168,56.0,77.346640
38290,2019-09-07,131232,8281,1,1,272,375972,0,20,9,...,1,2,6339,MTAw,468,100,2966,2966.65200,40.0,126.146100
38291,2019-09-06,131244,21100,1,1,272,149347,0,20,9,...,2,2,1656,MTE4LjAwMDAwMA==,68,118,112,132.87744,20.0,19.540800
38292,2019-09-08,131244,21100,1,0,272,149347,0,20,9,...,2,2,1656,MTE4LjAwMDAwMA==,68,118,112,132.87744,20.0,19.540800
38293,2019-09-18,131341,4085,1,1,272,58975,0,20,9,...,1,2,4429,MTAw,340,100,1505,1505.86000,111.0,245.898080
38294,2019-08-26,131358,2113,1,1,272,203781,0,20,9,...,1,2,4082,MTAw,210,100,857,857.22000,40.0,81.640000
38295,2019-09-08,131358,2113,1,0,272,362416,0,20,9,...,1,2,4082,MTAw,1060,100,4326,4326.92000,104.0,211.447600
38296,2019-09-01,131456,7241,1,1,272,60396,0,20,9,...,2,3,3208,MTAw,1400,100,4491,4491.20000,230.0,368.920000
38297,2019-09-20,131531,2651,1,1,272,149347,0,20,9,...,3,1,1759,MTAw,34,100,59,59.80600,14.0,12.313000
38298,2019-09-03,131587,21112,1,1,272,375972,0,20,9,...,3,2,3949,MTAw,936,100,3696,3696.26400,106.0,209.297000
38299,2019-09-02,131599,4171,1,1,272,118885,0,3,5,...,2,2,1704,MTAw,170,100,289,289.68000,30.0,25.560000
38300,2019-09-02,131603,3230,1,1,272,210162,0,20,9,...,1,1,926,MTAw,160,100,148,148.16000,52.0,24.076000
38301,2019-09-01,131651,21117,1,1,272,328215,0,20,9,...,2,2,5034,MTAw,950,100,4782,4782.30000,0.0,0.000000
38302,2019-09-08,131680,7401,1,1,272,203779,0,20,9,...,3,1,1076,MTAw,400,100,430,430.40000,80.0,43.040000
38303,2019-09-04,131694,7643,1,1,272,375970,0,20,9,...,1,1,6964,MTAw,468,100,3259,3259.15200,56.0,194.992000
38304,2019-08-29,131697,5682,1,1,272,375972,0,20,9,...,2,1,2845,MTA1LjAwMDAwMA==,468,105,1331,1398.03300,53.0,79.162125
38305,2019-09-04,131697,5682,1,0,272,375972,0,20,9,...,2,1,2845,MTA1LjAwMDAwMA==,468,105,1331,1398.03300,52.0,77.668500
38306,2019-08-31,131716,6482,1,1,272,210162,0,20,9,...,1,2,3615,MTE4LjAwMDAwMA==,160,118,578,682.51200,33.0,70.384050
38307,2019-09-04,131757,2406,1,1,272,340215,0,20,9,...,3,2,3681,MTAw,930,100,3423,3423.33000,172.0,316.418760
38308,2019-09-01,131760,21099,1,1,272,210162,0,20,9,...,1,2,2339,MTAw,160,100,374,374.24000,50.0,58.475000
38309,2019-09-17,131774,21112,1,1,272,220407,0,20,9,...,3,2,3211,MTAw,160,100,513,513.76000,41.0,66.242930
38310,2019-09-22,131780,4010,1,1,272,203779,0,20,9,...,2,1,6621,MTAw,400,100,2648,2648.40000,84.0,278.082000

In [62]:
#para eliminar tambien una fila la funcion drop nos puede ayudar
df.drop(0)

,IdAto,ano,data_compra,mes,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,...,NSE_BDD,ClasEdac,Peso,FACTOR_RW,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW
1,270351716,2017,2017-01-05,1,74,0,0,1,272,149347,...,4,3,2337,MTAw,34,100,79,79.45800,0.0,0.000000
2,270351756,2017,2017-01-06,1,74,0,0,0,272,149347,...,4,3,2337,MTEw,34,110,79,87.40380,12.0,15.221115
3,270352833,2017,2017-01-28,1,124,0,0,1,272,81129,...,4,3,3027,MTAw,300,100,908,908.10000,60.0,90.810000
4,270352944,2017,2017-01-30,1,350,4108,1,1,272,301936,...,5,3,2127,ODM=,330,83,701,582.58530,30.0,26.481150
5,270352710,2017,2017-01-25,1,354,0,0,1,272,203781,...,4,3,2906,ODA=,210,80,610,488.20800,46.0,53.470400
6,270352958,2017,2017-01-30,1,356,4108,1,1,272,149347,...,4,2,3787,MTEw,34,110,128,141.63380,14.0,29.159900
7,270352252,2017,2017-01-15,1,369,4178,1,1,272,69558,...,4,3,2906,MTAw,1000,100,2906,2906.00000,150.0,217.950000
8,270352885,2017,2017-01-29,1,408,4016,1,1,272,203781,...,4,3,3944,MTAw,210,100,828,828.24000,0.0,0.000000
9,270353017,2017,2017-01-31,1,510,0,0,1,272,203781,...,2,3,1498,NTA=,210,50,314,157.29000,30.0,11.235000
10,270352365,2017,2017-01-18,1,512,4159,1,1,272,149347,...,3,3,9574,MTEw,34,110,325,358.06760,10.0,52.657000
11,270352217,2017,2017-01-15,1,588,4170,1,1,272,149347,...,2,3,8860,MTEw,34,110,301,331.36400,12.0,57.706066
12,270351554,2017,2017-01-02,1,601,4010,1,1,272,137071,...,1,3,1565,MTAw,500,100,782,782.50000,49.0,38.342500
13,270351740,2017,2017-01-06,1,727,4101,1,1,272,127513,...,1,3,2084,ODM=,1000,83,2084,1729.72000,100.0,86.486000
14,270351903,2017,2017-01-09,1,769,4011,1,1,272,149347,...,4,2,3876,MTEw,34,110,131,144.96240,13.0,27.713400
15,270351828,2017,2017-01-08,1,811,4108,1,1,272,119559,...,4,2,2937,MTEw,623,110,1829,2012.72610,96.0,155.073600
16,270352083,2017,2017-01-12,1,823,0,0,1,272,222812,...,2,2,2286,MTAw,930,100,2125,2125.98000,130.0,148.590000
17,270352375,2017,2017-01-18,1,823,0,0,0,272,210162,...,2,2,2286,MTAw,160,100,365,365.76000,40.0,45.720000
18,270352685,2017,2017-01-24,1,937,0,0,1,272,203779,...,5,3,2136,MTAw,400,100,854,854.40000,84.0,89.498400
19,270352303,2017,2017-01-17,1,939,21086,1,1,272,69558,...,4,2,4619,MTAw,1000,100,4619,4619.00000,120.0,277.140000
20,270351547,2017,2017-01-02,1,942,4133,1,1,272,210162,...,4,2,2281,ODM=,160,83,364,302.91680,46.0,43.354967
21,270352066,2017,2017-01-12,1,989,4101,1,1,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
22,270352377,2017,2017-01-18,1,989,4101,1,0,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
23,270352533,2017,2017-01-22,1,989,4101,1,0,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
24,270351879,2017,2017-01-08,1,989,4101,1,0,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
25,270352805,2017,2017-01-27,1,989,4101,1,0,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
26,270352739,2017,2017-01-26,1,989,4101,1,0,272,149347,...,5,2,2535,MTEw,34,110,86,94.80900,12.0,16.731000
27,270352159,2017,2017-01-14,1,1015,4133,1,1,272,149026,...,4,3,3546,MTAw,420,100,1489,1489.32000,76.0,134.748000
28,270352466,2017,2017-01-20,1,1187,4108,1,1,272,203781,...,5,2,1840,ODA=,210,80,386,309.12000,50.0,36.800000
29,270352058,2017,2017-01-12,1,1196,4156,1,1,272,69558,...,4,3,2243,MTEw,1000,110,2243,2467.30000,110.0,135.701500
30,270352398,2017,2017-01-19,1,1340,0,0,1,272,149347,...,3,2,3121,MTEw,34,110,106,116.72540,12.0,20.598600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38281,302625797,2019,2019-09-20,9,130772,21082,1,1,272,99282,...,3,2,1269,MTAw,1000,100,1269,1269.00000,215.0,136.696680
38282,302625451,2019,2019-09-08,9,130792,4171,1,1,272,69558,...,2,1,2753,MTAw,1000,100,2753,2753.00000,130.0,178.945000
38283,302625067,2019,2019-08-28,9,130792,4171,1,0,272,69558,...,2,1,2753,MTAw,1000,100,2753,2753.00000,130.0,178.945000
38284,302625588,2019,2019-09-13,9,130838,21128,1,1,272,227424,...,3,1,11946,MTAw,640,100,7645,7645.44000,140.0,836.220000
38285,302625055,2019,2019-08-28,9,130846,6519,1,1,272,136597,...,3,1,2978,MTE4LjAwMDAwMA==,140,118,416,491.96560,28.0,49.196560
38286,302625832,2019,2019-09-21,9,131078,243,1,1,272,210162,...,4,1,1134,MTAw,160,100,181,181.44000,40.0,22.680000
38287,302625163,2019,2019-08-31,9,131147,3216,1,1,272,227423,...,3,1,1221,MTAw,400,100,488,488.40000,97.0,59.218500
38288,302411351,2019,2019-09-09,9,131155,3238,1,1,272,149347,...,2,2,578,MTAw,34,100,19,19.65200,12.0,3.468000
38289,302625449,2019,2019-09-08,9,131193,6519,1,1,272,301940,...,1,1,2341,MTE4LjAwMDAwMA==,236,118,552,651.92168,56.0,77.346640
38290,302625420,2019,2019-09-07,9,131232,8281,1,1,272,375972,...,1,2,6339,MTAw,468,100,2966,2966.65200,40.0,126.146100
38291,302625361,2019,2019-09-06,9,131244,21100,1,1,272,149347,...,2,2,1656,MTE4LjAwMDAwMA==,68,118,112,132.87744,20.0,19.540800
38292,302625425,2019,2019-09-08,9,131244,21100,1,0,272,149347,...,2,2,1656,MTE4LjAwMDAwMA==,68,118,112,132.87744,20.0,19.540800
38293,302625743,2019,2019-09-18,9,131341,4085,1,1,272,58975,...,1,2,4429,MTAw,340,100,1505,1505.86000,111.0,245.898080
38294,302625004,2019,2019-08-26,9,131358,2113,1,1,272,203781,...,1,2,4082,MTAw,210,100,857,857.22000,40.0,81.640000
38295,302625434,2019,2019-09-08,9,131358,2113,1,0,272,362416,...,1,2,4082,MTAw,1060,100,4326,4326.92000,104.0,211.447600
38296,302625219,2019,2019-09-01,9,131456,7241,1,1,272,60396,...,2,3,3208,MTAw,1400,100,4491,4491.20000,230.0,368.920000
38297,302625810,2019,2019-09-20,9,131531,2651,1,1,272,149347,...,3,1,1759,MTAw,34,100,59,59.80600,14.0,12.313000
38298,302625300,2019,2019-09-03,9,131587,21112,1,1,272,375972,...,3,2,3949,MTAw,936,100,3696,3696.26400,106.0,209.297000
38299,302625250,2019,2019-09-02,9,131599,4171,1,1,272,118885,...,2,2,1704,MTAw,170,100,289,289.68000,30.0,25.560000
38300,302625260,2019,2019-09-02,9,131603,3230,1,1,272,210162,...,1,1,926,MTAw,160,100,148,148.16000,52.0,24.076000
38301,302625216,2019,2019-09-01,9,131651,21117,1,1,272,328215,...,2,2,5034,MTAw,950,100,4782,4782.30000,0.0,0.000000
38302,302625445,2019,2019-09-08,9,131680,7401,1,1,272,203779,...,3,1,1076,MTAw,400,100,430,430.40000,80.0,43.040000
38303,302625328,2019,2019-09-04,9,131694,7643,1,1,272,375970,...,1,1,6964,MTAw,468,100,3259,3259.15200,56.0,194.992000
38304,302625107,2019,2019-08-29,9,131697,5682,1,1,272,375972,...,2,1,2845,MTA1LjAwMDAwMA==,468,105,1331,1398.03300,53.0,79.162125
38305,302625317,2019,2019-09-04,9,131697,5682,1,0,272,375972,...,2,1,2845,MTA1LjAwMDAwMA==,468,105,1331,1398.03300,52.0,77.668500
38306,302625179,2019,2019-08-31,9,131716,6482,1,1,272,210162,...,1,2,3615,MTE4LjAwMDAwMA==,160,118,578,682.51200,33.0,70.384050
38307,302625316,2019,2019-09-04,9,131757,2406,1,1,272,340215,...,3,2,3681,MTAw,930,100,3423,3423.33000,172.0,316.418760
38308,302625193,2019,2019-09-01,9,131760,21099,1,1,272,210162,...,1,2,2339,MTAw,160,100,374,374.24000,50.0,58.475000
38309,302625731,2019,2019-09-17,9,131774,21112,1,1,272,220407,...,3,2,3211,MTAw,160,100,513,513.76000,41.0,66.242930
38310,302625857,2019,2019-09-22,9,131780,4010,1,1,272,203779,...,2,1,6621,MTAw,400,100,2648,2648.40000,84.0,278.082000

In [60]:
#si queremos eliminar muchas filas ponemos 
df.drop(range(0,100))

,IdAto,ano,data_compra,mes,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,...,NSE_BDD,ClasEdac,Peso,FACTOR_RW,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW
100,270352358,2017,2017-01-18,1,2492,4162,1,0,272,203779,...,5,3,1648,ODM=,400,83,659,547.13600,96.0,65.656320
101,270352874,2017,2017-01-29,1,2492,4162,1,0,272,227424,...,5,3,1648,ODM=,640,83,1054,875.41760,140.0,95.748800
102,270351987,2017,2017-01-10,1,2515,4088,1,1,272,203779,...,1,2,2939,ODM=,400,83,1175,975.74800,79.0,96.355115
103,270351999,2017,2017-01-10,1,2515,4088,1,0,272,149347,...,1,2,2939,MTEw,34,110,99,109.91860,14.0,22.630300
104,270352905,2017,2017-01-29,1,2623,4156,1,1,272,69558,...,4,3,2441,MTAw,1000,100,2441,2441.00000,112.0,136.696000
105,270352790,2017,2017-01-27,1,2623,4156,1,0,272,203781,...,4,3,2441,ODM=,210,83,512,425.46630,52.0,52.676780
106,270352797,2017,2017-01-27,1,2623,4156,1,0,272,203781,...,4,3,2441,ODM=,210,83,512,425.46630,52.0,52.676780
107,270352198,2017,2017-01-15,1,2652,4178,1,1,272,69558,...,4,3,1087,MTAw,1000,100,1087,1087.00000,110.0,59.785000
108,270352945,2017,2017-01-30,1,2657,4124,1,1,272,58975,...,4,2,996,MTEw,170,110,169,186.25200,44.0,23.889668
109,270352073,2017,2017-01-12,1,2727,4011,1,1,272,203779,...,4,2,3930,MTAw,400,100,1572,1572.00000,64.0,125.760000
110,270352783,2017,2017-01-27,1,2772,0,0,1,272,149347,...,5,3,1248,MTEw,34,110,42,46.67520,10.0,6.864000
111,270352909,2017,2017-01-29,1,2772,0,0,0,272,149347,...,5,3,1248,MTEw,34,110,42,46.67520,10.0,6.864000
112,270352967,2017,2017-01-30,1,2772,0,0,0,272,149347,...,5,3,1248,MTEw,34,110,42,46.67520,10.0,6.864000
113,270352824,2017,2017-01-28,1,2772,0,0,0,272,149347,...,5,3,1248,MTEw,34,110,42,46.67520,10.0,6.864000
114,270351970,2017,2017-01-10,1,2811,0,0,1,272,149347,...,3,3,7145,ODM=,34,83,242,201.63190,12.0,35.582100
115,270351724,2017,2017-01-05,1,2840,4159,1,1,272,149347,...,4,3,1542,MTEw,34,110,52,57.67080,10.0,8.481000
116,270351702,2017,2017-01-05,1,3015,4088,1,1,272,149347,...,4,2,2727,MTEw,34,110,92,101.98980,14.0,20.997900
117,270351883,2017,2017-01-08,1,3048,0,0,1,272,210162,...,4,3,4583,MTAw,160,100,733,733.28000,0.0,0.000000
118,270351503,2017,2017-01-01,1,3076,4162,1,1,272,147389,...,5,3,1897,ODM=,226,83,428,355.83926,24.0,18.894120
119,270352014,2017,2017-01-11,1,3168,4010,1,1,272,69558,...,4,3,2679,MTAw,1000,100,2679,2679.00000,112.0,150.024000
120,270352716,2017,2017-01-25,1,3198,4111,1,1,272,179902,...,4,2,2579,ODM=,170,83,438,363.89690,27.0,28.897695
121,270352434,2017,2017-01-20,1,3204,4133,1,1,272,301937,...,4,3,1988,MTEw,1116,110,2218,2440.46880,60.0,65.604000
122,270352457,2017,2017-01-20,1,3284,4101,1,1,272,69558,...,5,3,2568,MTAw,1000,100,2568,2568.00000,130.0,166.920000
123,270351614,2017,2017-01-03,1,3358,4016,1,1,272,203781,...,1,3,1286,MTAw,210,100,270,270.06000,52.0,33.436000
124,270352051,2017,2017-01-12,1,3364,0,0,1,272,149347,...,4,3,1441,MTEw,34,110,48,53.89340,14.0,11.095700
125,270352306,2017,2017-01-17,1,3364,0,0,0,272,149347,...,4,3,1441,MTEw,34,110,48,53.89340,12.0,9.510600
126,270351535,2017,2017-01-02,1,3449,0,0,1,272,69558,...,4,2,1643,ODM=,1000,83,1643,1363.69000,110.0,75.002950
127,270352098,2017,2017-01-13,1,3455,4011,1,1,272,203779,...,4,2,3035,ODM=,400,83,1214,1007.62000,79.0,99.502475
128,270351721,2017,2017-01-05,1,3665,4012,1,1,272,203781,...,3,3,2786,NTA=,210,50,585,292.53000,50.0,34.825000
129,270352015,2017,2017-01-11,1,3665,4012,1,0,272,203781,...,3,3,2786,NTA=,210,50,585,292.53000,35.0,24.377500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38281,302625797,2019,2019-09-20,9,130772,21082,1,1,272,99282,...,3,2,1269,MTAw,1000,100,1269,1269.00000,215.0,136.696680
38282,302625451,2019,2019-09-08,9,130792,4171,1,1,272,69558,...,2,1,2753,MTAw,1000,100,2753,2753.00000,130.0,178.945000
38283,302625067,2019,2019-08-28,9,130792,4171,1,0,272,69558,...,2,1,2753,MTAw,1000,100,2753,2753.00000,130.0,178.945000
38284,302625588,2019,2019-09-13,9,130838,21128,1,1,272,227424,...,3,1,11946,MTAw,640,100,7645,7645.44000,140.0,836.220000
38285,302625055,2019,2019-08-28,9,130846,6519,1,1,272,136597,...,3,1,2978,MTE4LjAwMDAwMA==,140,118,416,491.96560,28.0,49.196560
38286,302625832,2019,2019-09-21,9,131078,243,1,1,272,210162,...,4,1,1134,MTAw,160,100,181,181.44000,40.0,22.680000
38287,302625163,2019,2019-08-31,9,131147,3216,1,1,272,227423,...,3,1,1221,MTAw,400,100,488,488.40000,97.0,59.218500
38288,302411351,2019,2019-09-09,9,131155,3238,1,1,272,149347,...,2,2,578,MTAw,34,100,19,19.65200,12.0,3.468000
38289,302625449,2019,2019-09-08,9,131193,6519,1,1,272,301940,...,1,1,2341,MTE4LjAwMDAwMA==,236,118,552,651.92168,56.0,77.346640
38290,302625420,2019,2019-09-07,9,131232,8281,1,1,272,375972,...,1,2,6339,MTAw,468,100,2966,2966.65200,40.0,126.146100
38291,302625361,2019,2019-09-06,9,131244,21100,1,1,272,149347,...,2,2,1656,MTE4LjAwMDAwMA==,68,118,112,132.87744,20.0,19.540800
38292,302625425,2019,2019-09-08,9,131244,21100,1,0,272,149347,...,2,2,1656,MTE4LjAwMDAwMA==,68,118,112,132.87744,20.0,19.540800
38293,302625743,2019,2019-09-18,9,131341,4085,1,1,272,58975,...,1,2,4429,MTAw,340,100,1505,1505.86000,111.0,245.898080
38294,302625004,2019,2019-08-26,9,131358,2113,1,1,272,203781,...,1,2,4082,MTAw,210,100,857,857.22000,40.0,81.640000
38295,302625434,2019,2019-09-08,9,131358,2113,1,0,272,362416,...,1,2,4082,MTAw,1060,100,4326,4326.92000,104.0,211.447600
38296,302625219,2019,2019-09-01,9,131456,7241,1,1,272,60396,...,2,3,3208,MTAw,1400,100,4491,4491.20000,230.0,368.920000
38297,302625810,2019,2019-09-20,9,131531,2651,1,1,272,149347,...,3,1,1759,MTAw,34,100,59,59.80600,14.0,12.313000
38298,302625300,2019,2019-09-03,9,131587,21112,1,1,272,375972,...,3,2,3949,MTAw,936,100,3696,3696.26400,106.0,209.297000
38299,302625250,2019,2019-09-02,9,131599,4171,1,1,272,118885,...,2,2,1704,MTAw,170,100,289,289.68000,30.0,25.560000
38300,302625260,2019,2019-09-02,9,131603,3230,1,1,272,210162,...,1,1,926,MTAw,160,100,148,148.16000,52.0,24.076000
38301,302625216,2019,2019-09-01,9,131651,21117,1,1,272,328215,...,2,2,5034,MTAw,950,100,4782,4782.30000,0.0,0.000000
38302,302625445,2019,2019-09-08,9,131680,7401,1,1,272,203779,...,3,1,1076,MTAw,400,100,430,430.40000,80.0,43.040000
38303,302625328,2019,2019-09-04,9,131694,7643,1,1,272,375970,...,1,1,6964,MTAw,468,100,3259,3259.15200,56.0,194.992000
38304,302625107,2019,2019-08-29,9,131697,5682,1,1,272,375972,...,2,1,2845,MTA1LjAwMDAwMA==,468,105,1331,1398.03300,53.0,79.162125
38305,302625317,2019,2019-09-04,9,131697,5682,1,0,272,375972,...,2,1,2845,MTA1LjAwMDAwMA==,468,105,1331,1398.03300,52.0,77.668500
38306,302625179,2019,2019-08-31,9,131716,6482,1,1,272,210162,...,1,2,3615,MTE4LjAwMDAwMA==,160,118,578,682.51200,33.0,70.384050
38307,302625316,2019,2019-09-04,9,131757,2406,1,1,272,340215,...,3,2,3681,MTAw,930,100,3423,3423.33000,172.0,316.418760
38308,302625193,2019,2019-09-01,9,131760,21099,1,1,272,210162,...,1,2,2339,MTAw,160,100,374,374.24000,50.0,58.475000
38309,302625731,2019,2019-09-17,9,131774,21112,1,1,272,220407,...,3,2,3211,MTAw,160,100,513,513.76000,41.0,66.242930
38310,302625857,2019,2019-09-22,9,131780,4010,1,1,272,203779,...,2,1,6621,MTAw,400,100,2648,2648.40000,84.0,278.082000

## Funcion Groupby

In [65]:
#nos agrupa por cada mes y nos da un valor de la columna preco y le aplica una funcion 
df.groupby(by="mes")["Preco"].max()

mes
1     137.0800
2     150.0000
3     160.0000
4     218.7781
5     198.0000
6     175.0000
7     199.5000
8     444.7058
9     190.0000
10    185.6250
11    148.3300
12    122.2500
Name: Preco, dtype: float64

In [ ]:
# la media
df.groupby(by="mes")["Preco"].mean()

In [ ]:
# minimo
df.groupby(by="mes")["Preco"].min()

In [ ]:
# contar
df.groupby(by="mes")["Preco"].count()

In [ ]:
# resumen estadistico
#contar,media ,desviacion estandar ,minimo, tres cuartiles, el 50 es la mediana y el maximo
df.groupby(by="mes")["Preco"].describe()

In [ ]:
df.groupby(by="mes")["Preco","Quantidade"].max()

In [ ]:
df.groupby(by="mes")["Preco"].max()  - df.groupby(by="mes")["Preco"].min()

In [79]:
df.groupby(['ano','mes'])["Preco"].sum()

ano   mes
2017  1      33137.5074
      2      27508.3241
      3      26936.9355
      4      21611.7884
      5      24869.1392
      6      23489.0361
      7      24316.2273
      8      23285.8555
      9      25247.3707
      10     31788.6904
      11     31404.1654
      12     36532.7865
2018  1      35312.3048
      2      33743.5365
      3      31794.8389
      4      25441.3356
      5      24554.4600
      6      20980.0448
      7      26750.3629
      8      25603.1698
      9      25427.6866
      10     27375.1804
      11     29951.8940
      12     31539.2479
2019  1      31007.4935
      2      33293.9674
      3      30174.9678
      4      23809.8073
      5      23617.1740
      6      23624.4407
      7      23693.2018
      8      25694.2177
      9      26506.5281
Name: Preco, dtype: float64

## Unir tablas

In [4]:
df1=df.head()

In [5]:
df1

,IdAto,ano,data_compra,mes,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,...,NSE_BDD,ClasEdac,Peso,FACTOR_RW,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW
0,270351947,2017,2017-01-09,1,52,4171,1,1,272,149347,...,4,2,4802,MTEw,34,110,163,179.5948,33.614000,36.975400
1,270351716,2017,2017-01-05,1,74,0,0,1,272,149347,...,4,3,2337,MTAw,34,100,79,79.4580,0.000000,0.000000
2,270351756,2017,2017-01-06,1,74,0,0,0,272,149347,...,4,3,2337,MTEw,34,110,79,87.4038,13.837377,15.221115
3,270352833,2017,2017-01-28,1,124,0,0,1,272,81129,...,4,3,3027,MTAw,300,100,908,908.1000,90.810000,90.810000
4,270352944,2017,2017-01-30,1,350,4108,1,1,272,301936,...,5,3,2127,ODM=,330,83,701,582.5853,31.905000,26.481150

In [12]:
df2=df.tail()

In [13]:
df2

,IdAto,ano,data_compra,mes,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,...,NSE_BDD,ClasEdac,Peso,FACTOR_RW,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW
38306,302625179,2019,2019-08-31,9,131716,6482,1,1,272,210162,...,1,2,3615,MTE4LjAwMDAwMA==,160,118,578,682.512,59.64750,70.38405
38307,302625316,2019,2019-09-04,9,131757,2406,1,1,272,340215,...,3,2,3681,MTAw,930,100,3423,3423.330,316.41876,316.41876
38308,302625193,2019,2019-09-01,9,131760,21099,1,1,272,210162,...,1,2,2339,MTAw,160,100,374,374.240,58.47500,58.47500
38309,302625731,2019,2019-09-17,9,131774,21112,1,1,272,220407,...,3,2,3211,MTAw,160,100,513,513.760,66.24293,66.24293
38310,302625857,2019,2019-09-22,9,131780,4010,1,1,272,203779,...,2,1,6621,MTAw,400,100,2648,2648.400,278.08200,278.08200

In [14]:
#drop= True ayuda a no generar otra columna con el anterior index
df2=df2.reset_index(drop=True)

In [25]:
df2

,IdAto,ano,data_compra,mes,Iddomicilio,ENTREV,activos,UNICOS,IdProduto,IdArtigo,...,NSE_BDD,ClasEdac,Peso,FACTOR_RW,Vol,valorRW,VolPesado,volPesadoRW,Valor,valPesadoRW
0,302625179,2019,2019-08-31,9,131716,6482,1,1,272,210162,...,1,2,3615,MTE4LjAwMDAwMA==,160,118,578,682.512,59.64750,70.38405
1,302625316,2019,2019-09-04,9,131757,2406,1,1,272,340215,...,3,2,3681,MTAw,930,100,3423,3423.330,316.41876,316.41876
2,302625193,2019,2019-09-01,9,131760,21099,1,1,272,210162,...,1,2,2339,MTAw,160,100,374,374.240,58.47500,58.47500
3,302625731,2019,2019-09-17,9,131774,21112,1,1,272,220407,...,3,2,3211,MTAw,160,100,513,513.760,66.24293,66.24293
4,302625857,2019,2019-09-22,9,131780,4010,1,1,272,203779,...,2,1,6621,MTAw,400,100,2648,2648.400,278.08200,278.08200

In [23]:
# Axis=0 el segundo debajo del primero 
vertical= pd.concat([df1, df2], axis=0)

In [24]:
vertical.shape

(10, 51)

In [26]:
horizontal= pd.concat([df1, df2], axis=1)

In [27]:
horizontal.shape

(5, 102)

## Merge

In [ ]:
#Hace la union de las dos tablas y si no encuentra un valor le pone NaN 
pd.merge(df1,df2, on= "Producto",how= "outer" )

In [ ]:
#Hace la union de las dos tablas pero si no encontro un valor que no estaba en la primera tabla o en la segunda tabla omite ese producto
pd.merge(df1,df2, on= "Producto",how= "inner" )

In [ ]:
#el de la izquierda con el de la derecha solo si sus valores aparecen en la derecha 
pd.merge(df1,df2, on= "Producto",how= "right" )